<div class="container mb-2 mt-2">
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">Account ID</div>
        <div class="card-body" *ngIf="accountObservable">
          <div class="mb-2">
            <label>Account ID :</label>
            <label><strong>{{accountId}}</strong></label>
          </div>
          <div class="mb-2">
            <label>Balance :</label>
            <label><strong>{{accountObservable.balance}}</strong></label>
          </div>
          <div class="mb-2">
            <label>Type :</label>
            <label><strong>{{accountObservable.type }}</strong></label>
          </div>
        </div>
        <ng-container *ngIf="accountObservable">
          <table class="table ms-2">
            <thead>
            <th>ID</th><th>operationDate</th><th>Type</th><th>Amount</th>
            </thead>
            <tbody>
            <tr *ngFor="let op of accountObservable.accountOperationDTOS">
              <td>{{op.id}}</td>
              <td>{{op.operationDate}}</td>
              <td>{{op.type}}</td>
              <td>{{op.amount}}</td>
            </tr>
            </tbody>
          </table>
          <ul class="nav nav-pills">
            <li *ngFor="let item of [].constructor(accountObservable.totalPages); let page=index">
              <button [ngClass]="page==currentPage?'btn-info':'btn-outline-info'"
              class="btn mt-1 ms-1" (click)="goToPage(page)">{{page+1}}</button>
            </li>
          </ul>
        </ng-container>
      </div>
    </div>
    <div class="col-md-6" *ngIf="authService.roles.includes('ADMIN')">
      <div class="card" *ngIf="accountObservable">
        <div class="card-header">Operations</div>
        <div class="card-body">
          <form [formGroup]="operationsFormGroup" (ngSubmit)="handleAccountOperations()" method="post">
            <div class="form-check form-check-inline">
              <input type="radio" class="form-check-input" formControlName="operationType" value="CREDIT">
              <label class="form-check-label">CREDIT</label>
            </div>
            <div class="form-check form-check-inline">
              <input type="radio" class="form-check-input" formControlName="operationType" value="DEBIT">
              <label class="form-check-label">DEBIT</label>
            </div>
            <div class="form-check form-check-inline">
              <input type="radio" class="form-check-input" formControlName="operationType" value="TRANSFER">
              <label class="form-check-label">TRANSFER</label>
            </div>
            <div class="mb-3" *ngIf="operationsFormGroup.value?.operationType=='TRANSFER'">
              <label class="form-check-label">Account Destination</label>
              <input type="text" formControlName="accountDestination" class="form-control">
            </div>
            <div class="mb-3">
              <label class="form-check-label">Amount</label>
              <input type="text" formControlName="amount" class="form-control">
            </div>
            <div class="mb-3">
              <label class="form-check-label">Description</label>
              <input type="text" formControlName="description" class="form-control">
            </div>
            <div class="d-grid mb-3">
              <button class="btn btn-success">Save operation</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
 </div>
